h2 {
    font-family: Courier New;
    font-weight: 200;
    padding-left: 15px;
}
.row-grid > * {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.row-grid {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-content: space-evenly;
    gap: 10px;
}
.row-grid > * > img {
    overflow: hidden;
}

section {
    margin-bottom: 30px;
}

.col-grid > * {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.col-grid > * > img {
    height: 100%;
  }
.col-grid {
    display: flex;
    flex-flow: wrap;
    align-self: stretch;
    vertical-align: baseline;
    gap: 10px;
}