h2 {
    font-family: Courier New;
    font-weight: 200;
}
.row-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.row-grid img {
    border-radius: 15px;
    max-width: fit-content;
}
section img, h2 {
    border: 1px solid black;
    border-radius: 15px;
}