@media only screen and (min-width: 45rem) {
    body {
        margin: 0px 100px;
    }
    ul {
        text-align: right;
        overflow: hidden;
    }
    li {
        display: inline;
        white-space: nowrap;
        padding-left: 30px;
        font-size: 1.3rem;
    }
    nav {
        margin-bottom: 25px;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-bottom: 1px solid #d0d0d0;
    }
    .post-date {
        grid-column: 1/2;
        border-bottom: none;
        border-right: 1px solid #d0d0d0;
        padding-right: 30px;
    }
    .post-content {
        grid-column: 2/3;
    }
    img {
        max-width: 100%;
        height: auto;
        padding: 20px;
    }
    article h2, article p {
        padding-left: 20px;
    }
    article p {
        padding-bottom: 15px;
    }
}